<h1 style="text-decoration: underline"><%= @doctor.name %></h1>

<h4>Department: <%= @doctor.department %></h4>
<% @doctor.appointments.each.with_index(1) do |appointment, index| %>
    <br>
    <%= link_to "Appointment #{index})", appointment_path(appointment) %> 
    Time: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%>,
    Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
<% end %>

<br><br><br>
<button><%= link_to "All Doctors!", doctors_path %></button>
<br><br>
<button><%= link_to "All Patients!", patients_path %></button>